.left {
    background: linear-gradient(156.5deg, #3566A6 15.6%, #5790DA 43.54%, #9EC9FF 74.53%, #F8F8F8 106.56%);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Roboto',sans-serif;
    position: absolute;
    width: 440.29px;
    height: 611.99px;
    left: 3px;
    top: 27px
}
.logo-left{
    padding-left: 184px;;
    align-items: center;
    margin-top: 47px;
}
.h1-left {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 23px;
    color:#fff;
    font-size: 20px;
    text-align:center;

}
.img-left {
    position: absolute;
    width: 268px;
    height: 255px;
    left: 173px;
    top: 355px;
}
.img2-left{
    position: absolute;
    width: 240.06px;
    height: 231.91px;
    left: 2px;
    top: 196px;
}
.span-left{
    font-family: 'PT Sans', sans-serif;
    color:#fff;
    padding-left: 89px;
    margin-top: 59px;
}