
@import url(../font/stylesheet.css);

body{
    background: #FFCB9B;
    font-family:Gilroy;
}
.left {
    background: linear-gradient(156.5deg, #3566A6 15.6%, #5790DA 43.54%, #9EC9FF 74.53%, #F8F8F8 106.56%);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: Gilroy;
    position: absolute;
    width: 382px;
    height: 585px;
    left: 230px;
    top: 107px
}
.logo-left{
    padding-left: 165px;
    align-items: center;
    margin-top: 57px;
}
.h1-left {
    position: absolute;
    width: 83px;
    height: 17px;
    left: 150px;
    top: 117px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.img-left {
    position: absolute;
    width: 288px;
    height: 256px;
    left: 93px;
    top: 329px;
}
.img2-left{
    position: absolute;
    width: 272px;
    height: 309px;
    left: 2px;
    top: 186px;
}
.span-left{
    position: absolute;
    width: 210px;
    height: 41px;
    left: 86px;
    top: 186px;

    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color:#fff;
}
.right{
    position: absolute;
    width: 386px;
    height: 585px;
    left: 82px;
    top: 80px;
}

.link-right{
    position: absolute;
    text-decoration: none;
    text-align:center;
    padding-top: 24px;
    color:#fff;
    display: block;
    width: 193px;
    height: 45px;
    left: 530px;
    top: 27px;
    background: #B0B0B0;
    border:1px solid #B0B0B0;
    font-family: Gilroy;
    font-size: 18px;
    line-height: 21px;
}
.link-right2 {
    text-decoration: none;
    color:#fff;
    position: absolute;
    width: 95px;
    height: 17px;
    left: 725px;
    top: 27px;
    width: 193px;
    height: 45px;
    padding-top: 24px;
    font-family: Gilroy;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    background: #86B4E7;
    border:1px solid #86B4E7;
    display: block;
}
.main-inputs{
    margin-top: 98px;
    margin-left: 530px;
    padding-left: 10px;
    display: inline-block;
    background-color: #fff;
    width:380px;
    height:514px;
    color: #3566A6;
}
.right-hr{
    border: 2px solid #3566A6;
    border-radius:3px;
    width:278px;
    background-color:#3566A6;
}
.right-input{
    margin-top: 28px;
    margin-left: 50px;
    border:none;
    background:none;
    width:278px;
    outline: none;
}
.right-input::placeholder {
    color: #3566A6;
    font-family: Gilroy;
}
.right-button{
    font-family: Gilroy;
    position: absolute;
    border:1px solid;
    width: 228px;
    height: 40px;
    left: 612px;
    top: 520px;
    background: linear-gradient(89.75deg, #FFD745 4.76%, #FEC741 45.34%, #FBAA39 65.54%, #F98E32 93.22%);
    border-radius: 45px;
    color:#fff;
    cursor:pointer;
}
.right-p{
    width:115px;
    height:16px;
}
.right-form{
    display: flex;
    margin-top: 75px;
    margin-left: 85px;
}
.right-link{
    margin-top: 16px;
    color:#B1AFAF;
}
